@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins&family=VT323&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --font-primary: "Julius Sans One", serif;
    --font-card: "handel-gothic,Helvetica,Arial,sans-serif", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212123;
    margin-top: 7rem;
}

main {
    width: 55rem;
}

.container-contato {
    display: flex;
}



.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
}

.wrap img {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 400ms;
}

.wrap:hover img {
    transform: scale(1.2);
}

.circle {
    background-color: #E0D77A;
    width: 18rem;
    height: 18rem;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 7s linear infinite;
}

@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}


.infos {
    padding-top: 37px;
}

.infos h1,
h2 {
    font-family: var(--font-primary);
    color: #fff;
    margin-bottom: 20px;
}

.contato {
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    color: #fff;
}

.contato i {
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}

.redes-sociais {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 30px;
}

ul {
    position: relative;
    display: flex;

}

ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

ul li a {
    text-decoration: none;
}

ul li a .fa-brands {
    font-size: 3.7rem;
    color: rgba(212, 212, 212, 0.099);
}

ul li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3.8rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

ul li:nth-child(1) a::before {
    content: "\f09b";
    background-image: linear-gradient(45deg,
            #E0D77A 0%, #a19a4b 25%, #716c36 50%, #4d4925 75%,
            #4d4925 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #E0D77A;
}

ul li:nth-child(2) a::before {
    content: "\f08c";
    background-image: linear-gradient(45deg,
            #E0D77A 0%, #a19a4b 25%, #716c36 50%, #4d4925 75%,
            #4d4925 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #E0D77A;
}

ul li:nth-child(3) a::before {
    content: "\f16d";
    background-image: linear-gradient(45deg,
            #E0D77A 0%, #a19a4b 25%, #716c36 50%, #4d4925 75%,
            #4d4925 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #E0D77A;
}

ul li:nth-child(4) a::before {
    content: "\f099";
    background-image: linear-gradient(45deg,
            #E0D77A 0%, #a19a4b 25%, #716c36 50%, #4d4925 75%,
            #4d4925 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid #E0D77A;
}

ul li:hover a::before {
    height: 100%;
}


.container-sobre-mim {
    width: 100%;
    padding-top: 5.5rem;
    margin-bottom: 1rem;
}

.title-section {
    font-family: var(--font-primary);
    color: #E0D77A;
    margin-top: 2rem;
}

.row {
    width: 100%;
    height: 1px;
    background-color: #E0D77A;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul .fa-legenda {
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--font-secundary);
}

.legenda p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 1.5rem;
}

.container-sobre-mim p {
    font-family: var(--font-primary);
    color: #fff;
    font-size: 1.5rem;
}

.card__giratorio {
    background-color: transparent;
    width: 245px;
    height: 356px;
    perspective: 1000px;
    margin: 1rem;
}

.card__giratorio-conteudo {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.container-top {
    border-radius: 5px;
    background-image: url('img/carta_frente2.png');
    background-size: cover;
    width: 100%;
    height: 356px;
    position: absolute;
    display: flex;
    flex-direction: column;

}

.caixa-titulo {
    text-align: left;
}

.caixa-titulo h1 {
    font-family: var(--font-card);
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 30px;
    margin-top: 17px;
}

.icons_stars {
    margin-left: 100px;
    margin-bottom: 32px;
    margin-top: 4px;
}

.img_icon {
    font-size: 7rem;
    color: #fff;
}

.img_icon i {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 5px #000;
}

.texto-descricao {
    text-align: left;
    height: 5rem;
    width: 15.5rem;
    margin-left: 25px;
    margin-top: 33px;
    overflow-y: scroll;
}

.texto-descricao h4 {
    font-family: var(--font-card);

}

.card__giratorio:hover .card__giratorio-conteudo {
    transform: rotateY(180deg);
}

.card__giratorio-conteudo--frente,
.card__giratorio-conteudo--traseira {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0;
    top: 0;
}

.card__giratorio-conteudo--frente {
    background: #3C3B3F;
    border-radius: 5px;
}

.card__giratorio-conteudo--traseira {
    background: linear-gradient(229deg, #0093E9, #80D0C7);
    color: white;
    transform: rotateY(180deg);
}

.card__giratorio-conteudo--traseira h1,
.card__giratorio-conteudo--traseira p {
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card__giratorio-conteudo--traseira h1 {
    font-size: 1.7rem;
}

.img_traseira {
    width: 100%;
    height: 100%;
}

.container-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    ;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formacoes {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding-left: 3rem;
}

.formacao01 {
    display: flex;
}

.formacao02 {
    display: flex;
}

.formacao03 {
    display: flex;
}

.card-formacao {
    background-image: url('img/carta_frente1.png');
    background-size: cover;
    width: 200px;
    height: 291px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    border-radius: 5px;
}

.card-formacao i {
    object-fit: cover;
    transition: 400ms;
    font-size: 5rem;
    width: 100%;
    padding-top: 3rem;
}

.card-formacao:hover i {
    transform: scale(1.2);
}

.caixa-titulo-formacao {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    height: 2rem;

}

.caixa-titulo-formacao h1 {
    font-weight: 400;
    color: #000;
    font-family: var(--font-card);
    margin-left: 30px;
    margin-top: 17px;
    font-size: 1.4rem;
}

.contato-infos {
    width: 35rem;
    margin-left: 3rem;
}

.infos-formacoes {
    padding-top: 37px;
}

.infos-formacoes h1,
h2 {
    font-family: var(--font-primary);
    color: #fff;
    margin-bottom: 20px;
}

.infos-formacoes p {
    margin-bottom: 1rem;
    color: #fff;
    font-family: var(--font-action);
}

.row-formacao {
    width: 820px;
    border: 1px solid rgb(86, 86, 86);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.cards-projetos {
    width: 100%;
}

.swiper {
    width: 100%;
}

.card {
    position: relative;
    margin: 20px 0;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

section .card .image {
    width: 245px;
    height: 356px;
    cursor: pointer;
    padding: 10px;

}

section .card .image img {
    width: 245px;
    height: 356px;
    border-radius: 5px;
    transition: all 0.4s;
    opacity: 60%;

}

section .card .image img:hover {
    transform: scale(1.07);
    opacity: 100%;
}



.swiper-pagination {
    position: absolute;
}



.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #ffffff;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #ffffff;
}


